<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<!-- Bootstrap stylesheet -->
    <script src="/main_theme/js/jquery.2.1.1.min.js" type="text/javascript"></script>
	<link href="/main_theme/bootstrap/css/bootstrap.css" rel="stylesheet">
	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<!-- icofont -->
	<link href="/main_theme/icofont/css/icofont.css" rel="stylesheet" type="text/css" />
	<!-- font-awesome -->
	<link href="/main_theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<!-- crousel css -->
	<link href="/main_theme/js/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
	<!-- stylesheet -->
	<link href="/main_theme/css/style.css" rel="stylesheet" type="text/css" />
	
	<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<script src="/main_theme/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

	<link rel="stylesheet" href="/owlCarousel/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="/owlCarousel/dist/assets/owl.theme.default.min.css">


	<script src="/owlCarousel/dist/owl.carousel.min.js"></script>


	
	<style>
		.panel-group .panel {
			border-radius: 0;
			box-shadow: none;
			border-color: #EEEEEE;
		}

		.panel-default>.panel-heading {
			padding: 0;
			border-radius: 0;
			color: #212121;
			background-color: #FAFAFA;
			border-color: #EEEEEE;
		}

		.panel-title {
			font-size: 14px;
		}

		.panel-title>a {
			display: block;
			padding: 15px;
			text-decoration: none;
		}

		.more-less {
			float: right;
			color: #212121;
		}

		.panel-default>.panel-heading+.panel-collapse>.panel-body {
			border-top-color: #EEEEEE;
		}
	</style>
	<!-- jquery -->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script>
		var app = angular.module('scotiaApp', []).config(function ($interpolateProvider) {
			$interpolateProvider.startSymbol('{[{').endSymbol('}]}');
		});
		app.controller('school', function ($scope, $http) {

			$http.get("/data")
				.then(function (response) {

					$scope.menu = response.data.data;
					localStorage.setItem("menu", response.data.data)
				});

			$http.get("/dropDown")
				.then(function (response) {
					$scope.drop = response.data.data;
				});
		});
	</script>


</head>

<body ng-app="scotiaApp">


	<!-- header start here-->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div id="logo">
						<a href="/">
							<img class="img-responsive" src="/main_theme/images/logo4.png" alt="logo" title="logo" />
						</a>
					</div>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12">

					<nav ng-controller="school" id="menu">
						<label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
						<input type="checkbox" id="tm">
						<ul class="main-menu clearfix">
							<li><a href="/">HOME</a></li>
							<li><a href="#">ABOUT
									<span class="drop-icon">▾</span>
									<label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
								</a>
								<input type="checkbox" id="sm1">
								<ul class="sub-menu">
									<li>
										<a href="/about">About Us</a>
									</li>
									<li>
										<a href="/why-us">Why Choose Us</a>
									</li>
									<li>
										<a href="/about-scotland">About Scotland</a>
									</li>
								</ul>
							</li>
							<li><a id="schoolId" href="#">INSTITUTIONS
									<span class="drop-icon">▾</span>
									<label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
								</a>
								<input type="checkbox" id="sm1">
								<ul id="uni-menu" class="sub-menu">

									<li ng-repeat="u in menu">
										<a href="/school-faculties/{[{u.name}]}/{[{u.id}]}" ng-bind="u.name">
											<span class="drop-icon">▾</span>
											<label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
										</a>
										<input type="checkbox" id="sm2">
										<ul class="sub-menu">
											<li ng-repeat="f in u.StudyAreas"><a
													href="/faculty/{[{f.originalId}]}/{[{u.id}]}" ng-bind="f.name"></a>
											</li>

										</ul>
									</li>

								</ul>
							</li>
							<li>
								<a href="/compare-fees">COMPARE</a>
							</li>
							<li>
								<a href="/courses">COURSES</a>
							</li>
							<li>
								<a href="/scholarship">SCHOLARSHIP APP</a>
							</li>
							<li>
								<a href="/contact-us">CONTACT US</a>
							</li>
							<li style="padding: 5px;"><a href="/user/login" class="btn btn-sm btn-primary">Login</a>
							</li>

						</ul>
					</nav>

				</div>

			</div>
		</div>
	</header>
	<!-- header end here -->
	{{{body}}}
	<!-- footer start here -->
	<footer>
		<div class="container">
			<!-- Modal -->
			<div ng-controller="school" class="modal fade" id="menuModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">INSTITUTIONS</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="panel-group" id="accordionMain" role="tablist" aria-multiselectable="true">

								<div ng-repeat="u in menu" class="panel panel-primary">
									<div class="panel-heading" role="tab" id="heading{[{u.id}]}">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion"
												href="#collapse{[{u.id}]}" aria-expanded="true"
												aria-controls="collapse{[{u.id}]}">
												<i class="more-less glyphicon glyphicon-plus"></i>

												<strong ng-bind="u.name"></strong>
											</a>
										</h4>
									</div>
									<div id="collapse{[{u.id}]}" class="panel-collapse collapse" role="tabpanel"
										aria-labelledby="headingOne">
										<h4 ng-repeat="f in u.StudyAreas"></h4>

										<ul class="list-group">
											<li class="list-group-item active"><a style="color: white;"
													href="/school-faculties/{[{u.name}]}/{[{u.id}]}"
													ng-bind="u.name"></a>
											</li>

											<li ng-repeat="f in u.StudyAreas" class="list-group-item"><a
													href="/faculty/{[{f.id}]}/{[{u.id}]}" ng-bind="f.name"></a>
											</li>


										</ul>
									</div>


								</div>
							</div>


						</div><!-- panel-group -->
					</div>
				</div>
			</div>
		</div>
		<div class="row inner">
			<div class="col-sm-4">

				<p class="des">OUR ALL-IN-ONE PLATFORM HELPS YOU MONITOR AND SECURE ADMISSION, GUIDES YOU THROUGH
					VISA PROCESSES AND SETTLES YOUR ACCOMMODATION.</p>
				<button type="button"><a href="/application/step1">apply to preferred school</a></button>
			</div>
			{{!-- <div class="col-sm-3 links1">
				<h5>contact us</h5>
				<hr>
				<!-- <p class="des1">Nunc quis viverra nibh. Etiam mauris leo, consequat ut tincidunt ac, lobortis consequat ligula.</p> -->
				<ul class="list-unstyled contact">
					<li>
						<i class="icofont icofont-home"></i> Address :Room D74, 10 Colinton Road, Edinburgh, EH10
						5DT
					</li>
					<li>
						<i class="icofont icofont-phone"></i>UK Whatsapp contact: +44 758 677 0652
					</li>
					<li>
						<i class="icofont icofont-phone"></i>Nigeria Whatsapp contact: +234 802 666 8008
					</li>
					<li>
						<i class="icofont icofont-globe"></i> <a href="#">Email: info@scotstudy.co.uk</a><br><a
							href="#">Website:www.scotiaworld.com</a>
					</li>
				</ul>
			</div> --}}
			<div style="height: 100%;" class="col-sm-4 links2">
				<a class="twitter-timeline" data-height="100%"
					href="https://twitter.com/ScotStudy?ref_src=twsrc%5Etfw">Tweets by
					ScotStudy</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="col-sm-4 links1">
				<h5>quick links</h5>
				<hr>
				<ul class="list-unstyled">
					<li>
						<a href="/courses"><i class="fa fa-link"></i>All Courses</a>
					</li>
					<li>
						<a href="/institutions"><i class="fa fa-chain-broken"></i>All Schools</a>
					</li>
					{{!-- <li>
							<a href="#"><i class="fa fa-link"></i>Tour</a>
						</li> --}}
					<li>
						<a href="/visa-application-guideline"><i class="fa fa-link"></i>Visa Guidance</a>
					</li>
					<li>
						<a href="/about-scotland"><i class="fa fa-link"></i>Settle in Scotland</a>
					</li>

					<li>
						<a href="/pre-departure"><i class="fa fa-link"></i>Pre-Departure</a>
					</li>

				</ul>
			</div>
		</div>
		</div>
		<div class="social">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ul class="list-inline">
							<li>
								<a href=" https://www.facebook.com/scotia.study.94?ref=bookmarks" target="_blank"><i
										class="icofont icofont-social-facebook"></i></a>
							</li>
							<li>
								<a href="https://twitter.com/ScotStudy" target="_blank"><i
										class="icofont icofont-social-twitter"></i></a>
							</li>
							<li>
								<a href="https://plus.google.com/" target="_blank"><i
										class="icofont icofont-social-google-plus"></i></a>
							</li>
							<li>
								<a href="https://www.instagram.com/" target="_blank"><i
										class="icofont icofont-social-instagram"></i></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/uas/login" target="_blank"><i
										class="icofont icofont-social-linkedin"></i></a>
							</li>
							<li>
								<a href="https://in.pinterest.com/" target="_blank"><i
										class="icofont icofont-social-pinterest"></i></a>
							</li>
							<li>
								<a href="https://www.skype.com/en/" target="_blank"><i
										class="icofont icofont-social-skype"></i></a>
							</li>
							<li>
								<a href="https://www.stumbleupon.com/" target="_blank"><i
										class="icofont icofont-social-stumbleupon"></i></a>
							</li>
							<li>
								<a href="https://www.youtube.com/" target="_blank"><i
										class="icofont icofont-social-youtube"></i></a>
							</li>
							<li>
								<a href="https://www.tumblr.com/" target="_blank"><i
										class="icofont icofont-social-tumblr"></i></a>
							</li>
							<li>
								<a href="https://dribbble.com/" target="_blank"><i
										class="icofont icofont-social-dribbble"></i></a>
							</li>
							<li>
								<a href="https://envato.com/" target="_blank"><i
										class="icofont icofont-social-envato"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="powered">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">

					</div>
					<div style="text-align: center;" class="col-sm-6">
						<p>Scotia World Limited © 2019, All Rights Reserved.</p>
					</div>
					<div class="col-sm-3 text-right">

					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer end here -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
	{{!-- <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" type="text/javascript"></script> --}}
	<!-- bootstrap js -->


	<!-- owlcarousel js -->
	<script src="/main_theme/js/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
	<!--internal js-->
	<script src="/main_theme/js/internal.js" type="text/javascript"></script>

	<script>
		$(document).ready(function () {
			if ($(window).width() < 768) {
				$("#schoolId").click(function (e) {
					e.preventDefault();
					$('#menuModal').modal()
				})
				// do something for small screens
			}
			$('#example').DataTable();

		});
		function toggleIcon(e) {
			$(e.target)
				.prev(".panel-heading")
				.find(".more-less")
				.toggleClass("glyphicon-plus glyphicon-minus");
		}
		$(".panel-group").on("hidden.bs.collapse", toggleIcon);
		$(".panel-group").on("shown.bs.collapse", toggleIcon);

	</script>
</body>

<!-- Mirrored from ocsolutions.co.in/html/education/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Feb 2019 23:22:48 GMT -->

</html>