<title>Scotiaworld | About-Scotland</title>
<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="/main_theme/images/banner-top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>ABOUT SCOTLAND</h2>
			<ul class="list-inline">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Current Page</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- abouts start here -->
<div class="abouts">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="commontop text-center">
					<h2>About Scotland</h2>

				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<p class="des">Ancient Scotland was made up of four separate groups: Angles, Britons, Picts and Gaels
					(also known as Scoti). In 1967, the drilling of the first North Sea oil well was considered a major
					industrial achievement of the time, creating a huge supporting industry in Scotland and giving the
					whole of UK access to oil made at home for the first time. Moreover, films like Braveheart and
					Trainspotting helped to establish Scotland as a cultural powerhouse; for example, J.K. Rowling wrote
					the global phenomenon ‘Harry Potter’ in Edinburgh. The scientists that successfully cloned the first
					mammal from an adult cell, Dolly the Sheep were from the Scotland. John Napier was the inventor of
					logarithms and the decimal point, to mention few prominent from Scotland. </p>
				<hr>

				<p class="des">Scotland is a country located up north of United Kingdom. Scotland comprises of seven
					cities; Aberdeen, Dundee, Edinburgh (the capital), Glasgow, Inverness, Perth and Stirling. Its
					nature is impressive, the history rich and many other aspects of Scottish life are quite fascinating
					and unique. Living in Scotland will give you the opportunities to find some more practical
					information such as facts about Scotland, culture and politics, whisky production and distilleries
					(well known for that), our dynamic weather, webcams in Scotland and many other aspects about daily
					life in Scotland which you will find both interesting and handy. </p>
				<hr>



			</div>

			<div class="col-sm-6 col-xs-12">
				<div class="image">
					<img src="/main_theme/images/scotland.jpg" class="img-responsive" alt="img" title="img" />
					<div class="icon">

					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12">

				<p class="des">Visiting one of the seven cities in Scotland should really be part of everyone’s
					itinerary when holidaying here. There is a wealth of culture, historic buildings, beautiful squares,
					castles, museums, restaurants and other fascinating attractions to be found in all of our cities.
					Edinburgh might top the charts if we talk visitor numbers but Glasgow, Stirling and the others all
					played their own significant role in history, have their own unique identities and they all have
					many attractions on offer.</p>
				<hr>

				<p class="des">The Scottish education system is distinctly different from those in the other countries
					of the United Kingdom. In 2014, research by the Office for National Statistics found that Scotland
					was the most highly educated country in Europe and among the most well-educated in the world in
					terms of tertiary education attainment. Qualifications at the secondary school and post-secondary
					(further education) level are provided by the Scottish Qualifications Authority, which is the
					national awarding and accrediting body in Scotland. Post study permit (Scottish Talent Hunt) was
					initiated in Scotland with the aim of allowing international students to stay back after studies in
					order to develop their skills and knowledge, before it was expanded to other parts of the United
					Kingdom and was later scrapped off.</p>
				<hr>


			</div>
		</div>
	</div>
</div>
<!-- abouts end here -->