<title>Scotiaworld | About-Us</title>

<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="/main_theme/images/banner-top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>ABOUT US</h2>
			<ul class="list-inline">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Current Page</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- abouts start here -->
<div class="abouts">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="commontop text-center">
					<h2>About us</h2>
					<p>Scotia-World is an innovative business venture set-up to help international students with
						intentions of studying and living in Scotland achieve their dreams through a
						seamless-technological process. </p>
					<hr>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<p class="des">We are committed to helping international students choose perfect courses to suit their
					careers, as well as providing a range of top ranked academic institutions in Scotland to put them on
					a right path. We are associated with the best universities in Scotland to help secure admission
					easily and monitor your enrolment process through our seamless technology.</p>
				<hr>

				<p class="des">Scotia-Study is a Mobile app designed to provide you with relevant information about
					Scotland High Education (HE) and to give you the platform to apply to any Scottish institutions of
					your choice, monitor your application while waiting for decisions, step-by-step enrolment
					progression, visa application guidance and processing, and pre-departure briefing from your mobile
					phones at your convenience without any charges.</p>
				<hr>
				<p class="des">With the privilege of having access to join our international students network across all
					institutions in Scotland, we can guarantee home-away-from-home experience throughout your study in
					Scottish territories. Moreover, combining our professional experience of over a decade in
					recruitment and counselling, with our seamless Mobile app for recruitment- we can guarantee smooth
					process and experience towards your enrolment. In addition, our staff are committed to helping
					students throughout their student journey. </p>
				<hr>
				<p class="des">We also arrange tours to Scotland territories for tourists from West Africa for summer,
					events and during festive seasons. This is prepared to help tourists experience and understand
					Scottish cultures, heritage, history and environment.</p>

			</div>
			<div class="col-sm-6 col-xs-12"></div>
			<div class="col-sm-6 col-xs-12">
				<div class="image">
					<img src="/main_theme/images/about-img.jpg" class="img-responsive" alt="img" title="img" />
					<div class="icon">
						<div class="ico">
							<a href="#"><i class="icofont icofont-ui-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- abouts end here -->