<!-- Waves Effect Css -->

<section class="content">
    <div class="container-fluid">

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="body">
                    <div class="card">
                        <div class="header">
                            <h2>
                                My Account
                            </h2>

                        </div>
                        <div class="body">
                            <div class="list-group">
                                <a class="list-group-item active">
                                    Username
                                </a>
                                <a class="list-group-item">{{user.username}}</a>
                                <a class="list-group-item active">Email</a>
                                <a class="list-group-item">{{user.email}}</a>
                                <a class="list-group-item active">Password</a>
                                <a href="/user/change-Password" class="list-group-item">Change Password <i
                                        class="material-icons pull-right">
                                        navigate_next
                                    </i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery DataTable Plugin Js -->