<!-- Waves Effect Css -->

<section class="content">
    <div class="container-fluid">

        <!-- Exportable Table -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="header">
                            <h2>
                                Change Password
                            </h2>
                        </div>
                        {{#if success_msg}}
                        <hr>
                        <div class="alert alert-success">{{success_msg}}</div>
                        {{/if}}
                        {{#if error_msg}}
                        <hr>
                        <div class="alert alert-danger">{{error_msg}}</div>
                        {{/if}}
                        <form action="/user/change-Password" method="POST">
                            <div class="form-group form-float">

                                <div class="form-line">
                                    <input type="password" name="oldPass" placeholder="Old Password"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group form-float">

                                <div class="form-line">
                                    <input type="password" name="newPass" placeholder="New Password"
                                        class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group form-float">

                                <div class="form-line">
                                    <input type="password" name="newPass2" placeholder="Re-type new Password"
                                        class="form-control" required>
                                </div>
                            </div>
                            <hr>
                            <button type="submit" class="btn bg-primary waves-effect">
                                <i class="material-icons">
                                    save
                                </i> <span class="icon-name">Save</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery DataTable Plugin Js -->