<!-- Waves Effect Css -->

<section class="content">
    <div class="container-fluid">

        <!-- Exportable Table -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="header">
                            <h2>
                                Process Checklist
                            </h2>
                        </div>

                        <div class="body">
                            <h5>This is to help you know the stages you need to undergo before you enrol at your
                                selected
                                university to begin your study journey.</h5><br />

                            <p>Admission stage includes checking student’s eligibility to be sure they are qualified for
                                the proposed courses they are interested in. After the eligibility check, students are
                                to
                                provide the requirements stated in the course and application will then be processed for
                                offer of admission.
                            </p><br />

                            <p>Visa is a stage where students have been issued an unconditional offer letter or
                                Confirmation of Acceptance of Studies (CAS) and they are ready to apply for visa or
                                waiting
                                visa decision.
                            </p><br />

                            <p>Pre-departure is a stage where a student has been issued a study visa and they are
                                preparing to depart from their country of residence to their study destination.
                                Scot-Study
                                organises pre-departure event and Union every enrolment window for students networking,
                                short lecture on immigration regulations, how to apply for professional jobs prior to
                                the
                                end of their studies.
                            </p><br />

                            <p>Enrolment is the final stage where student arrives at their selected institution to enrol
                                for their studies and begin classes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery DataTable Plugin Js -->