<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
  .ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
</style>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<section class="content">
  <div class="container-fluid">

    <!-- Exportable Table -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>

        <div class="card">
          <div class="header">
            <h2>
              Compose a message
            </h2>

          </div>
          {{#if user.roleId}}
          <div class="body">
            <form id="sendForm" action="/" method="POST">
              <div id="alertContainer"></div>
              <input id="userId" name="userId" value="{{user.id}}" type="hidden" />
              <div class="form-group form-float">
                <label>Subject</label>
                <div class="form-line">
                  <input id="subject" required type="text" name="subject" placeholder="subject" class="form-control">
                </div>
              </div>
              <div class="form-group form-float">

                <label for="username">Recipient's Username: </label>
                <div class="ui-widget">
                  <input type="text" required name="recipient" id="username" placeholder="recipient's username"
                    class="form-control">
                </div>


              </div>
              <div class="demo-checkbox">
                <input type="checkbox" name="isAllUsers" id="basic_checkbox_2" class="filled-in allUser" />
                <label for="basic_checkbox_2">Send to all users</label>

              </div>
              <div class="form-group form-float">
                <label>Message *</label>
                <div class="form-line">
                  <textarea maxlength="500" id="message" required name="message" cols="30" rows="3"
                    placeholder="Type in a message (maximum of 500 characters)"
                    class="form-control no-resize"></textarea>
                </div>
              </div>
              <button type="submit" class="btn bg-primary waves-effect">
                <i class="material-icons">arrow_forward</i> <span class="icon-name">Send</span>
              </button><img style="width: 20px; heigth:20px" id="enquirySpinner" src="/loader.gif" />
            </form>
          </div>
          <script>
            $(document).ready(function () {
              function alertBoxTemplate(message, isError) {
                let classVal = isError ? "alert alert-danger" : "alert alert-success";
                $("#alertContainer")
                  .empty()
                  .html(`<div class="${classVal}">${message}  </div>`)
                  .fadeOut(16000);
              }
              var chkbox = $('.allUser');
              var username = $('#username');
              var message = $('#message');
              var subject = $('#subject');
              chkbox.click(function () {
                if ($(this).prop("checked") == true) {
                  username.prop("disabled", true)
                }
                else if ($(this).prop("checked") == false) {
                  username.prop("disabled", false)
                }
              });

              let myform = $("#sendForm");
              let enquirySpinner = $("#enquirySpinner");
              let btnSend = $("#btnSend");
              enquirySpinner.hide();
              myform.on('submit', function (e) {
                e.preventDefault();
                btnSend.attr("disabled", true);
                enquirySpinner.show();
                e.preventDefault();
                $.ajax({
                  type: 'post',
                  url: '/user/sendMessage',
                  data: myform.serialize(),
                  success: function (response) {
                    btnSend.attr("disabled", false);
                    if (!response.error)
                      alertBoxTemplate("Message sent successfully ", false);
                    else
                      alertBoxTemplate("Form submission was not successful, please try again later.", true);
                    enquirySpinner.hide();

                    username.val("");
                    message.val("");
                    subject.val("");
                  },
                  error: function (jqXHR, exception) {
                    btnSend.attr("disabled", false);
                    alertBoxTemplate("Form submission was not successful, please try again later.", true);
                    enquirySpinner.hide();
                  }
                });
              })
            });
          </script>
          {{else}}
          <div class="body">

            <div id="alertContainer"></div>
            <input id="userId" value="{{user.id}}" type="hidden" />


            <input id="subject" maxlength="20" placeholder="Subject" required type="text" name="subject"
              class="form-control">
            <hr>
            <textarea id="message" rows="10" maxlength="500" class="form-control no-resize richText" name="message"
              placeholder="Type in a message (maximum of 500 characters)"></textarea>
            <hr>
            <img style="width: 20px; heigth:20px" id="spinner" src="/loader.gif" />
            <div class="text-right">
              <button id="btnSend" class="btn btn-primary" type="button">Send <i class="material-icons">
                  send
                </i> </button>
            </div>
          </div>
          <script>
            $(function () {
              function alertBoxTemplate(message, isError) {
                var classVal = isError ? "alert alert-danger" : "alert alert-success";
                $("#alertContainer")
                  .empty()
                  .html("<div class='" + classVal + "'>" + message + " </div>")
                  .fadeOut(16000);
              }
              let spinner = $("#spinner");
              var btnSend = $("#btnSend");

              var message = $("#message");
              var subject = $("#subject");
              var userId = $("#userId");
              spinner.hide();

              btnSend.click(function (e) {
                e.preventDefault();
                spinner.show();
                if (message.val() !== "" && subject.val() !== "") {
                  btnSend.attr("disabled", true);
                  $.ajax({
                    type: 'post',
                    url: '/user/sendAdminMessage',
                    data: { message: message.val(), subject: subject.val(), userId: userId.val() },
                    success: function (response) {
                      btnSend.attr("disabled", false);
                      if (!response.error) {
                        message.val("");
                        subject.val("");
                        alertBoxTemplate("Your message was successful, we will get back to you soonest. ", false);
                      }
                      else
                        alertBoxTemplate("Your message did not go through, please try again later.", true);
                      spinner.hide();
                    },
                    error: function (jqXHR, exception) {
                      btnSend.attr("disabled", false);
                      alertBoxTemplate("Your message did not go through, please try again later.", true);
                      spinner.hide();
                    }
                  });
                } else {

                  alertBoxTemplate("Subject and message are required to send a message. ", true);
                }
              })

            })

          </script>
          {{/if}}


        </div>


      </div>
    </div>

  </div>
  <script>
    $(function () {
      var userName = $("#username");

      userName.autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "/user/getUsernames",
            type: 'post',
            data: {
              username: request.term
            },
            success: function (data) {
              response(data.users);

            }
          });
        },
        minLength: 2,

      });

    });
  </script>
</section>