
<link rel="stylesheet" href="/css/login.css">
    <!-- <div class="container">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <form method="post" action="/forgotPassword">
          <h4 class="page-header txtBoxForeColor">Password reset</h4>
          <div class="form-group">

            <input type="email" required class="form-control" name="email" placeholder="Email">
          </div>

          <button type="submit" class="btn btn-block btn-lg btn-success">Reset Password</button>

        </form>
      </div>
      <div class="col-lg-3"></div>
    </div> -->
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
        
          <h1>Elfexo</h1>
          {{#if message}}
              <div class="alert alert-info">{{message}}</div>
          {{/if}}
        </div>

        <!-- Login Form -->
        <form method="post">
          <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">

          <input type="submit" class="fadeIn fourth" value="Submit">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Go to the Site</a>
        </div>

      </div>
    </div>
