<!-- Waves Effect Css -->

<section class="content">
    <div class="container-fluid">

        <!-- Exportable Table -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="header">
                            <h2>
                                Contact Support
                            </h2>
                        </div>

                        <div class="body">
                            <h4>If you help, or have any questions regarding our services, you may contact us
                                on one of the provided contacts below</h4><br />
                            <p> UK Whatsapp contact: +44 758 677 0652</p><br />

                            <p>Nigeria Whatsapp contact: +234 802 666 8008</p><br />

                            <p>Email: info@scotstudy.co.uk</p><br />

                            <p>Website:www.scotstudy.co.uk</p><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery DataTable Plugin Js -->