<section class="content">
       <div class="container-fluid">
           <div class="block-header">
               <h2>TYPOGRAPHY</h2>
           </div>
           <!-- Body Copy -->
           <div class="row clearfix">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="card">
                       <div class="header">
                           <h2>
                               {{entity.name}}
                           </h2>
                           <ul class="header-dropdown m-r--5">
                           </ul>
                       </div>
                       <div class="body">
                           <p class="lead">
                               {{entity.name}} was processed successfully.
                           </p>

                       </div>
                   </div>
               </div>
           </div>
           <!-- #END# Body Copy -->
       </div>
   </section>
