<title>Scot-study, why choose us | Why-Choose-Us</title>

<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="/main_theme/images/banner-top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>WHY CHOOSE US?</h2>
			<ul class="list-inline">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Current Page</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- abouts start here -->
<div class="abouts">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="commontop text-center">
					<h2>Why Choose Us?</h2>

				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<p class="des">Our business directors and staff are alumni of prestigious universities in Scotland.
					Therefore, our services are embedded in Scottish educational system, culture and heritage as well as
					working closely with all Scottish institutions in order to make sure international students feel
					warmly accepted into Scottish environment. Our Mobile app is designed through our first-hand
					experience in providing solutions to international students’ concerns in terms of application for
					admission, acceptance, visa application, pre-departure as well as enrolment. </p>
				<hr>

				<p class="des">We understand the challenges international students faced in settling down in a new
					environment and the feel of loneliness when away from home, and that is why we are providing
					‘everything’ necessary for students to settle-in into the new life in Scotland with ease and without
					any charges. We are determined to create an easy and awesome experience for our the international
					students from start to finish. Our Mobile app will help students experience a seamless journey from
					applying from their various homes to beginning a new life in Scotland just by the touch of a button.
				</p>
				<hr>


			</div>
			<div class="col-sm-6 col-xs-12"></div>
			<div class="col-sm-6 col-xs-12">
				<div class="image">
					<img src="/main_theme/why.jpg" class="img-responsive" alt="img" title="img" />
					<div class="icon">
						<div class="ico">
							<a href="#"><i class="icofont icofont-ui-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- abouts end here -->