<html lang="en">

<!-- Mirrored from doksho.com/cryptod/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 May 2018 22:08:42 GMT -->
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<img class="img-thumbnail" style="heigth:90px; width:90px" src="https://lh3.googleusercontent.com/GTYbOT4yeNPiD255OTCDUnjRAEFLjaZxXT-4T_LyGMvqs3hHSfN0BAyzUEzO3hSIPiiuD5KWDFgPK1DqJ79GkkFCFZqsVt57rmtqj2yrpdDaDt4TotilF4uY6-yyYUsk1qPofeM19w=w2400" /><hr>
{{#if isVerify}}
<h1>Confirm your account.</h1>
<h4>You're almost there {{user}}. Confirm your account below to finish creating on Elfexo</h4>

<a class="btn btn-primary btn-block" href="{{link}}">CONFIRM ACCOUNT</a>

{{else}}
<h1>Reset your password.</h1>
<h4>Click below link to reset your password</h4>
<a class="btn btn-primary btn-block" href="{{link}}">RESET YOUR PASSWORD</a>
{{/if}}
<h5>Have fun, and don't hesitate to contact us with your feedback.<h5><br/>

<div>The Elfexo Team</div>
<span>https://elfexo.com</span>
